*{
    margin: 0;
    padding:0;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:80%;
    background-color: rgb(192, 222, 247);
    margin:20px;
    padding:15px;
    border-radius: 15px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
label{
    font-family: serif;
    font-size: 20px;
    margin:20px;
    font-family: 'Montserrat', sans-serif;
    /* padding:15px; */
}
hr{
    border-color:#4f69ff ;
    width:90%;
    border-style: dotted none none none;
    border-width:6px;
}
h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
textarea{
    width:75vw;
    height:30vh;
    border-radius: 10px;
    padding:1vw;
}
input{
    width:20vw;
    height:5vh;
    border-radius: 10px;
    border-style: none;
    padding:5px;
}
.section{
    margin:0.6vw;
    padding:0.6vw;
}
.section2{
    margin:0.6vw;
    padding:0.6vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
innercontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.btn {
    background: #4cbaff;
    background-image: -webkit-linear-gradient(top, #4cbaff, #1677b3);
    background-image: -moz-linear-gradient(top, #4cbaff, #1677b3);
    background-image: -ms-linear-gradient(top, #4cbaff, #1677b3);
    background-image: -o-linear-gradient(top, #4cbaff, #1677b3);
    background-image: linear-gradient(to bottom, #4cbaff, #1677b3);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-style: none;
  }
  
.btn:hover {
    background: #009dff;
    background-image: -webkit-linear-gradient(top, #009dff, #005eff);
    background-image: -moz-linear-gradient(top, #009dff, #005eff);
    background-image: -ms-linear-gradient(top, #009dff, #005eff);
    background-image: -o-linear-gradient(top, #009dff, #005eff);
    background-image: linear-gradient(to bottom, #009dff, #005eff);
    text-decoration: none;
  }
  img{
      width:20px;
      height:20px;
      margin:0px 0px 0px 20px;
      padding:s0px;
  }
  /* button{
      display:flex;
      flex-direction: row;

  } */