/* css reset */
*{
    margin: 0vh;
    padding: 0vh;
}

/* scroll bar css */
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background-color: rgb(184, 230, 252);
    border-radius:5px ;
}
::-webkit-scrollbar-thumb{
    background-color:#150e56;
    border-radius:5px ;
}
::-webkit-scrollbar-thumb:hover{
    background-color:rgb(98, 123, 235);
    border-radius:5px ;
}

/* scroll bar css end*/

/* main intro css */
/* section 2 css start */

li:hover{
    background-color: rgb(255, 255, 255);
    border-radius:0.5rem;
}

.intro-cintainer{
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    height:100vh;
    background-image: url("../images/s.jpg");
    background-position: center;
    background-size: auto 100vh;
    background-repeat: no-repeat;
    
}

h1{
    font-family: 'Nunito', sans-serif;
}
h2{
    font-family: 'Montserrat', sans-serif;
}

/* hello hola animation */
#hello:before{
    content:"Hello";
    animation: head 8s ease-in-out infinite;
}
@keyframes head{
    0% {content:"Hello|";}
    2% {content:"Hell|";}
    4% {content:"Hel|";}
    6% {content:"He|";}
    8% {content:"H|";}
    10% {content:"|";}
    15% {content:"H|";}
    19% {content:"Ho|";}
    21% {content:"Hol|";}
    23% {content:"Hola|";}
    28% {content:"Hol|";}
    30% {content:"Ho|";}
    32% {content:"H|";}
    37% {content:"|";}
    39% {content:"H|";}
    41% {content:"He|";}
    43% {content:"Hel|";}
    45% {content:"Hell|";}
    47% {content:"Hello|";}
    52% {content:"Hell|";}
    54% {content:"Hel|";}
    56% {content:"He|";}
    58% {content:"H|";}
    60% {content:"|";}
    65% {content:"H|";}
    67% {content:"Ho|";}
    69% {content:"Hol|";}
    71% {content:"Hola|";}
    76% {content:"Hol|";}
    78% {content:"Ho|";}
    80% {content:"H|";}
    82% {content:"|";}
    87% {content:"H|";}
    89% {content:"He|";}
    91% {content:"Hel|";}
    93% {content:"Hell|";}
    95% {content:"Hello|";}
}

/* section 2 css end */

/* skills and hobbies cards css */
/* section 3 & 4 css start */

.skillsection{
    background-color: #e4fbff;
}

.holder{
    perspective: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin:20px 0;
}

.cards{
    width:280px;
    height:340px;
    display: flex;
    justify-content: center;
    align-content: center;
    position:relative;
    transition: all 1s ease-in-out;
    transform-style: preserve-3d;
    border-radius: 10px;
    margin:5px;
}

.holder:hover .cards{
    transform:rotateX(180deg);
}
.front,.back{
    width:100%;
    height:100%;
    border-radius: 10px;
    position:absolute;
    padding: 14px;
    
    
}
.front{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 2;
    backface-visibility: hidden;
    background-color: #e0e7f0;

}
.back{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 25px;
    z-index: 1;
    background:whitesmoke;
    backface-visibility: hidden;
    transform:rotateX(180deg);
}
.cardimages{
    width:100px;
    height: 100px;
}

hr{
    border-color:#04009a ;
    width:40%;
    border-style: dotted none none none;
    border-width:6px;
    background-color: rgba(255, 0, 0, 0);
}

h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    color: #04009a;
    font-weight: bold;
}

p{
    font-family: 'Montserrat', sans-serif;
}

hr.mid{
    border-style: dotted none none none;
    width:10%;
    border-width: 7px;
    border-color: #015f6b;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 400px) { 
    .cards{
        width:75%;
        height:50vh;
        margin:5px;
    }
    hr{
        width: 30%;
    }
    .cardimages{
        width:50%;
        height:35%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width:400px ) and (max-width: 768px) { 
    .cards{
        width:60%;
        height:50vh;
        margin:5px;
    }
    hr{
        width: 30%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
     
    }

/*X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
     
     
}

/* section 3 & 4 css end*/

/* section 5 css start*/
workimages{
    width: 350px;
    height:300px;
}
/* section 5 css end*/

/* footer css start*/
.bottom-container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #325288;
    
}
.copyright{
    color:whitesmoke;
}
.contactsimage{
    width:60px;
    height:60px;
    margin:1rem;
    padding:0.5rem;
    transition:all 1s ease-in-out;
}
.contactsimage:hover{
    transform:translate3d(0px,5px,5px);
}
/* footer css end*/
