@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Open+Sans&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #10161f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #59cde9;
  background: -webkit-linear-gradient(to top, #59cde9, #0a2a88);
  background: linear-gradient(to top, #59cde9, #0a2a88);
}

.gradinetText-config {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@layer components {
  .btn-nav {
    @apply rounded-[10px] px-4 py-2 hover:bg-[#d9d9d926];
  }
  .btn-nav2 {
    @apply w-4/5 rounded-lg border-2 border-c8 px-4 py-2 text-center hover:border-transparent hover:bg-[#d9d9d926];
  }
  .heading {
    @apply w-auto bg-grad1 text-center font-poppins text-4xl  font-semibold sm:text-[3rem] lg:text-[4rem] lg:leading-normal;
  }
  .text-highlighter {
    @apply font-semibold text-c6;
  }
  .callBackButton {
    @apply flex items-center space-x-5 rounded-lg border-[5px] border-c8 bg-c3 px-12 py-4 font-poppins text-xl font-bold text-white hover:bg-c1 lg:text-3xl;
  }
  .input-label {
    @apply font-montserrat text-lg font-normal;
  }
  .input-el {
    @apply w-full rounded-md bg-c6 bg-opacity-10 p-2 font-montserrat text-lg font-normal text-c6 outline-none placeholder:text-c6 placeholder:text-opacity-30;
  }
}

html {
  scroll-behavior: smooth;
}
